* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%
}

body {
  --tile-start-rgb: 2, 13, 46;
  --tile-end-rgb: 2, 5, 19;
  font-family: 'Inter', sans-serif;
  color: white;
  background: linear-gradient(
    to bottom right,
    rgba(var(--tile-start-rgb), 1),
    rgba(var(--tile-end-rgb), 1)
  );
}

button,
input,
textarea {
  font-family: inherit;
}